/* Page border */

#top, #bottom, #left, #right {
	background: #c5b358;
	position: fixed;
}

#left, #right {
	top: 0; bottom: 0;
	width: 3px;
}

#left { left: 0; }

#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 3px;
}

#top { top: 0; }
#bottom { bottom: 0; }

/* Core styles */

html {
  height: 100%;
}

body {
  background: #f3f3f3;
  height: inherit;
}

#page-border {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px solid #c5b358;
  z-index: 3;
}

h1,h2, h3, h4, h5 {
  font-family: 'Playfair Display SC', serif;
}

.section-header {
  margin-top: 30px;
  margin-bottom: 10px;
}

.page-header {
  color: white;
}

a.page-header-link:hover {
  text-decoration: none;
}

.nav-bar {
  /*position: fixed;*/
  top: 0;
  right: 0;
  left: 0;
  height: 130px;
  background: #222;
  color: white;
  z-index: 2;
}

.nav-bar h1 {
  margin-top: 0px;
  padding-top: 20px;
  font-size: 3.5em;
  border-bottom: 1px solid #c5b358;
  margin-bottom: 12px;
}

.fancy {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.3em;
}

.container-fluid {
  position: relative;
  padding-top: 20px;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn, .btn-default, .btn-primary {
  color: black;
  border-radius: 0px;;
  background: white;
  border: 2px solid black;
  padding: 5px 20px;
}

.btn:hover {
  border-color: #c5b358;
  color: #c5b358;
  background: white;
}


.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}

/* Item Preview View */

.itemImage {
  width: 300px;
  height: 200px;
}

.item-image-preview {
  width: 200px;
  float: right;
}

.item-info {
  margin-top: 20px;
  text-decoration: none;
}

.description {
  margin-top: 30px;
}

.estStartingPrice {
  font-weight: bold;
}

.items-wrapper a:hover {
  text-decoration: none;
}

a {
  color: black;
}

.items-wrapper .row {
  margin-top: 10px;
  border-top: 2px solid #c5b358;
  border-bottom: 2px solid #c5b358;
  background: white;
  padding: 15px 100px;
  min-height: 100px;

}

.title {
  font-weight: bold;
  font-size: 2em;
  z-index: -1;
}

.singleItemProperty {
  width: 120px;
  display: inline-block;
}
