<nav class="nav-bar">
  <div class="container">
    {{#link-to 'auctions' classNames="page-header-link"}}
      <h1 class="page-header text-center">Southeby's</h1>
    {{/link-to}}

    <!-- {{#link-to 'items' classNames="top-left"}}All Items{{/link-to}} -->

  </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>
