<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<nav class="nav-bar">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4 col-sm-offset-4">
        {{#link-to 'auctions' classNames="page-header-link"}}
          <h1 class="page-header">Southeby's</h1>
        {{/link-to}}

        <span class="fancy text-center">Since 2015</span>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>
