<nav class="nav-bar">
  <h1 class="text-center">Southebys Auction House</h1>

  <ul class="nav navbar-nav">
    <li>{{#link-to 'items'}}Auctions{{/link-to}}</li>
  </ul>
</nav>

<div class="container">
  {{outlet}}
</div>
