<nav class="nav-bar">
  <div class="container">
    <h1 class="page-header text-center">Southeby's</h1>

      {{#link-to 'items' classNames="top-left"}}All Items{{/link-to}}
      {{#link-to 'auctions' classNames=""}}Auctions{{/link-to}}

  </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>
