<h4 class="text-center section-header">All Auctions</h4>

{{#link-to 'new-auction'}}Add Auction{{/link-to}}

<div class="items-wrapper">
  {{#each}}
    {{#link-to 'auction' this.id}}
      <p class="title">{{name}}</p>
    {{/link-to}}
  {{/each}}
</div>
